<div id="menu" class="mb-4">
  <a class="rh-title" href="{{ site.baseurl }}/">
    <div id="logo" class="container">
      <div class="row">
        <div class="col-xl-6 p-3">
          <img id="img-logo" src="/assets/img/logo/Right_Hemipshere_Logo_Small.png"
            class="" alt="Right Hemipshere Logo">
        </div>
        <div class="col-xl-6 p-3">
          {{ site.title }}
        </div>
      </div>
    </div>
  </a>

  <ul class="nav flex-column mt-4">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/stills">Stills</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contacts">Contacts</a>
    </li>
  </ul>
</div>