<footer class="footer">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright {{ 'now' | date: "%Y" }} {{ site.title }} video and music production // <a style="color: white;" href="https://www.instagram.com/nicholas__rasi/">Nicholas Rasi</a> // <a style="color: white;" href="mailto:{{ site.email }}">{{ site.email }}</a></li></p>
  </div>
</footer>

<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/parallaxjs/parallax.min.js"></script>
