<footer class="footer">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright {{ 'now' | date: "%Y" }} {{ site.title }} video and music production // <a href="https://www.instagram.com/right__hemisphere/">Nicholas Rasi </a> // <a style="color: white;" href="mailto:{{ site.email }}">{{ site.email }}</a> // <a href="https://www.instagram.com/right__hemisphere/"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" style="height: 1em;"></a> </li></p>
  </div>
</footer>

<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/parallaxjs/parallax.min.js"></script>
