body {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 20px;
    background-color: #000000;
    overflow-x: hidden;
    max-width: 100%;
    padding-bottom: 40px
}


.aside {
    border-right: 3px solid #fff;
}

@media screen and (max-width: 768px) {
    .aside {
        border-bottom: 5px solid #fff;
        border-right: 0;
    }
}

.rh-title {
    font-family: 'Motor Oil 1937 M54';
    font-weight: normal;
    font-style: normal;
}

a.rh-title:hover {
    text-decoration: none;
}

.color-change {
    -webkit-animation: color-change-animation 5s infinite;
    -moz-animation: color-change-animation 5s infinite;
    -o-animation: color-change-animation 5s infinite;
    -ms-animation: color-change-animation 5s infinite;
    animation: color-change-animation 5s infinite;
}

@-webkit-keyframes color-change-animation {
    0% {
        color: lawngreen
    }

    15% {
        color: red;
    }

    30% {
        color: yellow;
    }

    45% {
        color: green;
    }

    60% {
        color: blue;
    }

    75% {
        color: white;
    }

    100% {
        color: black
    }
}

@-moz-keyframes color-change-animation {
    0% {
        color: lawngreen
    }

    15% {
        color: red;
    }

    30% {
        color: yellow;
    }

    45% {
        color: green;
    }

    60% {
        color: blue;
    }

    75% {
        color: white;
    }

    100% {
        color: black
    }
}

@-ms-keyframes color-change-animation {
    0% {
        color: lawngreen
    }

    15% {
        color: red;
    }

    30% {
        color: yellow;
    }

    45% {
        color: green;
    }

    60% {
        color: blue;
    }

    75% {
        color: white;
    }

    100% {
        color: black
    }
}

@-o-keyframes color-change-animation {
    0% {
        color: lawngreen
    }

    15% {
        color: red;
    }

    30% {
        color: yellow;
    }

    45% {
        color: green;
    }

    60% {
        color: blue;
    }

    75% {
        color: white;
    }

    100% {
        color: black
    }
}

@keyframes color-change-animation {
    0% {
        color: yellow
    }

    15% {
        color: red;
    }

    30% {
        color: teal;
    }

    45% {
        color: green;
    }

    60% {
        color: blue;
    }

    75% {
        color: blueviolet;
    }

    100% {
        color: gold
    }
}

hr {
    height: 10px;
    background-image: linear-gradient(90deg, transparent, black, transparent);
    border: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.description {
    padding-top: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h1 {
        font-size: 4rem;
    }

    h3 a {
        color: #ffffff;
    }

    h3 a:hover {
        color: #ffffff;
        text-decoration: underline;
    }

    h3 a:visited {
        color: #ffffff;
        text-decoration: underline;
    }

    h4 a {
        color: #ffffff;
    }

    h4 a:hover {
        color: #ffffff;
        text-decoration: underline;
    }

    h4 a:visited {
        color: #ffffff;
        text-decoration: underline;
    }

    h5 a {
        color: #ffffff;
    }

    h5 a:hover {
        color: #ffffff;
        text-decoration: underline;
    }

    h5 a:visited {
        color: #ffffff;
        text-decoration: underline;
    }

    h5 {
        margin-bottom: 0px;
    }

    h1.title {
        font-weight: 700;
        margin-bottom: 0;
    }

    h2.subtitle {
        margin-bottom: 15px;
    }

    h2 a {
        color: #ffffff;
    }

    h2 a:hover {
        color: #ffffff;
    }

    h4.subtitle {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.screen {
    background-color: rgba(0, 0, 0, 1);
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.vp-title-header {
    visibility: hidden !important;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    padding: 1rem 1rem;
    border-bottom: 2px solid #FFFFFF;
}

.nav-link {
    color: #fff !important;
    text-transform: uppercase;
}

.nav {
    margin-left: 0;
}

.nav-link:hover {
    color: #000000 !important;
    background-color: #fff;
}

.bg-black {
    background-color: #000000 !important;
}

.post-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.post:last-of-type {
    border-bottom: 0px solid #000000;
}

.post-list {
    padding-top: 0rem;
}

.post-meta {
    font-size: 2rem;
    float: left;
    color: $grey-color;
}

.post-content {
    float: left;
    padding-bottom: 4rem;
}

.post-header {
    padding-top: 4rem;
}

.post-title {
    font-family: "Archivo Black";
}

.post-list {
    margin-left: 0;
    list-style: none;

    >li {
        margin-bottom: $spacing-unit;
    }
}

.post-link {
    color: #000000;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 5vh;
    background-color: #000000;
    width: 100%;
}


#logo {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.copyright {
    color: #fff;
    font-size: 0.8rem;
}

#about-wrapper {
    background-color: #000000;
}

.parallax-mirror {
    opacity: 0.5;
}

.container {
    max-width: 960px;
}

.separator-d {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    height: 5rem;
    width: 100%;
    position: absolute;
}

.separator-t {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    height: 5rem;
    width: 100%;
    position: absolute;
}

#intro {
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

    p {
        margin-top: 15px;
        margin-bottom: 0;
    }

    #presentation {
        #logo {
            height: 5rem;
        }
    }
}

.text-faded {
    background: linear-gradient(90deg, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(33, 33, 33, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Services */

#services {
    margin-top: 3rem;
    padding: 3rem 0;
    background-color: white;
    color: #000000;
}

.service-item {
    margin-bottom: 30px;
}

.service-title {
    text-transform: uppercase;
}

.service-detail {
    padding: 0.5rem;
    color: white;
    background-color: black;
}

/* 
    PAGES
*/
.page-title {
    color: #fff;
    text-transform: uppercase;
}

.page {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #FFFFFF;
}

#about,
#contacts,
#stills {}

/*
    YT
*/

.youtube {
    width: 100%;
    height: 95vh;
}

@media screen and (max-width: 768px) {
    .youtube {
        height: auto;
    }
}


.youtube img {
    width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}

.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button {
    cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* 
    VIDEOS
*/

.carousel-control-prev-icon {
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    transition: all 500ms ease-in-out;
}

.carousel-control-next,
.carousel-control-prev {
    width: 8%;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    right: auto;
    left: auto;
}

@media screen and (max-width: 768px) {
    .carousel-caption {
        position: relative;
    }
}

.video-data {
    text-align: center;
    padding: 1rem;
    color: #fff;
}

.video-title {}

.video-desc {
    a {
        color: #fff;
    }
}


/*
    STILLS
*/
.thumb {
    margin-bottom: 30px;
}

img.zoom {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #000;
}

.modal-footer {
    display: none;
}