---
layout: default
title: About
permalink: /about/
---

<div id="about" class="container">
    <section id="services">
        <div class="row text-center intro-container">
            <div class="col">
                <span class="title-text">WE 🔴 REC </span><span class="replace-me title-text">festivals, <span style="display:none">products showcase, short documentaries, artists, celebrations, events, singers, performers, advertisement, parties, campaigns</span></span>
            </div>      
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="card mt-4">
                        <img src="/assets/img/services/artists.jpg" class="card-img-top" alt="artists videos">
                        <div class="card-body text-dark">
                            <h5 class="card-title">Artisti</h5>
                            <p class="card-text">Video per cantanti, ballerini, performer, gruppi musicali</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="card mt-4">
                        <img src="/assets/img/services/ads.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-dark">
                            <h5 class="card-title">Showcases & Ads</h5>
                            <p class="card-text">Video pubblicitari per aziende e showcase prodotti</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="card mt-4">
                        <img src="/assets/img/services/events.jpg" class="card-img-top" alt="events videos">
                        <div class="card-body text-dark">
                            <h5 class="card-title">Eventi</h5>
                            <p class="card-text">Video per eventi, festival, concerti, feste, celebrazioni</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="row">
            <div class="col-md-12 text-center mb-2">
                <h3 class="mb-2 title-text">Contatti e Informazioni</h3>
            </div>
        </div>

        <div class="row text-dark text-center">
            <div class="alert alert-warning">
                Per informazioni, collaborazioni email a <a class="text-dark" href="mailto:info@rhvideo.it">info@rhvideo.it</a> o direct <img src="/assets/img/icons/instagram.svg" style="height: 1em;"> a <a class="text-dark" href="https://www.instagram.com/right.hemisphere.video/" target="new">right.hemisphere.video</a>
            </div>
        </div>
    </section>

    <section id="collaborations">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="mb-2 title-text">Collaborazioni</h3>
            </div>
        </div>

        <div class="row">
            {% for image in site.static_files %}
            {% if image.path contains 'assets/img/collaborations' %}
            <div class="col-md-4 col-sm-4 d-flex align-items-center justify-content-center p-3">
                <img class="img-fluid" src="{{ site.baseurl }}{{ image.path }}" style="max-width: 10rem" />
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
</div>
