---
layout: default
title: Stills
permalink: /stills/
---

<div id="stills" class="page container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
        {% for image in site.static_files %}
        {% if image.path contains 'assets/img/stills' %}
        <div class="col-md-4 col-sm-6">            
            <img class="lazyload img-fluid mt-4 mb-4" data-src="{{ site.baseurl }}{{ image.path }}" />
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>